block variables

doctype html
html
  head
  meta(charset='UTF-8')
  meta(name='viewport', content='initial-scale=1, width=device-width')
  meta(name='description', content='Full Stack Developer based in Melbourne, Australia.')
  meta(name='keywords', content='web designer, web developer, front-end developer')
  title= title ? isProject ? title : title + ' - Misbil Mohammed' : 'Misbil Mohammed - Full Stack Developer'
  link(rel='shortcut icon', href='favicon.png')
  if !isProject
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400|Dosis:300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand:400,500|Lato')
  else
    block fonts
  link(rel='stylesheet', href='assets/css/bundle.css')
  //- Google tag (gtag.js)
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-6JXCX2HDNX')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-6JXCX2HDNX');

  body(class=page)
    if page != 'not-found'
      header(id=page == 'home' ? 'intro' : '')
        block header      
      main
        block content
      footer
        block footer
      script(src="assets/js/bundle.js")
        
    else
      block content